@{
    ViewData["Title"] = "Account";
    string defUser = Model.User.Photo ?? "default-user.png";
    //string defDish = Model.Photos ?? "default-dish.jpg";
}


@model AccountModel



<div class="container">
    <header class="header"></header>
    <main>
        <div class="title__profile">
            <img src="../img/@defUser" alt="MyPhoto" class="profile__photo " id="addPhotoArea" />

            @*<button class="profile__add " id="addPhotoBtn" hidden>Добавить фото</button>*@
            <span class="title__name">@Model.User.Name</span>
            <span class="title__name">&ensp;</span>
            <span class="title__name">@Model.User.Surname</span>

        </div>
        <div class="row"></div>

        <div class="profile__navigation">
            <div class="nav__left">
                <a href="#"
                   class="nav__link active"
                   id="first__tag">Мои блюда</a>

                <a href="#" class="nav__link"
                   id="second__tag">Избранное</a>
            </div>
            <div class="nav__right">

                <button onclick="location.href='/Account/ChangeInfo';" class="nav__button">
                    Редактирование
                </button>
            </div>
        </div>
        <div class="row"></div>
        <div class="content">
            <div class="left__content" id="left__content">
                <div class="content__mydishes" id="cnt__mydishes">

                    <a href="/Account/AddDish" class="link__dish__add">

                        <div class="add-content__mydish">
                            <img src="../img/plus.png" alt="" class="photo__add" />

                        </div>
                    </a>

                    @{

                        foreach (var publication in Model.Publications)
                        {
                            string dish = "default-dish.jpg";
                            var photo = Model.Photos.FirstOrDefault(p => p.PublicationId == publication.Id);
                            if (photo != null)
                            {
                                dish = photo.Name;
                            }
                            <a href='@Url.Action("Dish","Account", publication)' class="link__dish">

                                <div class="content__mydish">

                                    <img src="../dish_img/@dish" alt="" class="photo__dish" />
                                    <div class="wrap__photo">
                                        <h1 class="title-name__photo">@publication.DishName</h1>
                                    </div>
                                </div>


                            </a>
                        }
                    }
                </div>


                <div class="content__myfavorite dispnone" id="cnt__myfavorite">

                    <a asp-area="" asp-controller="Account" asp-action="Dish" class="link__dish">
                        <div class="content__mydish">

                            <img src="../img/photo-food-1.png" alt="" class="photo__dish" />
                            <div class="wrap__photo">
                                <h1 class="title-name__photo">Макароны</h1>
                            </div>
                        </div>
                    </a>


                </div>


            </div>
            <div class="right__content">
                <div class="subscribers li__profile">
                    Подписчики:<span class="num__content">4</span>
                </div>
                <div class="subscriptions li__profile">
                    Подписки:<span class="num__content">23</span>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </main>

</div>

<footer class="wrap__bottom">
    <div class="bottom">
        <div class="row"></div>
        <div class="footer__top">
            <div class="footer__top-item">
                <span class="title__footer__top"><a href="#" class="footer__link">News</a></span>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__link">Link</a></li>
                    <li class="footer__list-item">Text</li>
                    <li class="footer__list-item">Text</li>
                </ul>
            </div>

            <div class="footer__top-item">
                <span class="title__footer__top"><a href="#" class="footer__link">Support</a></span>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__link">Link</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Link</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Link</a></li>
                </ul>
            </div>

            <div class="footer__top-item">
                <span class="title__footer__top">Navigation</span>
                <ul class="footer__list">
                    <li class="footer__list-item">Address: Ukraine Kharkiv </li>
                    <br>
                    <li class="footer__list-item">Tel.:<a href="#" class="link__list-item">+380958695956</a></li>
                    <br>
                    <li class="footer__list-item">E-mail.:<a href="#" class="link__list-item">info@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row"></div>
        <div class="footer__bottom">
            <div class="footer__container">
                <div class="footer__create">MyWork s.r.o 2019.</div>
            </div>
        </div>
    </div>
</footer>
<script src="../js/script.js"></script>

