@*@model Cook_Share.Models.Publication*@
@model Publication
@{
    ViewData["Title"] = "AddDish";
}
<div class="container">

    <div class="addDish__content">
        <span class="title__AddDish">
            Добавить блюдо
        </span>

        <form asp-action="AddDish" class="AddDish__post">

            @*<input type="hidden" asp-for="UserId" class="form-control" value="@ViewBag.User.Id" asp-items="ViewBag.UserId" />*@

            <div asp-validation-summary="ModelOnly"></div>



            <label asp-for="DishName" class="control-label name__input">Название блюда:</label>
            <div>
                <input asp-for="DishName" class="form-control input__item" />
                <span asp-validation-for="DishName" class="text-danger"></span>
            </div>


            <label asp-for="Discription" class="control-label name__input">Описание: </label>
            <div>
                <input asp-for="Discription" class="form-control  input__item" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>


            <label asp-for="Recipe" class="control-label name__input">Рецепт: </label>
            <div>
                <input asp-for="Recipe" class="form-control  input__item" />
                <span asp-validation-for="Recipe" class="text-danger"></span>
            </div>


            <label asp-for="CalorificVal" class="control-label name__input">Калорийность: </label>
            <div>
                <input asp-for="CalorificVal" class="form-control  input__item" />
                <span asp-validation-for="CalorificVal" class="text-danger"></span>
            </div>


            <label asp-for="Cuisine" class="control-label name__input">Кухня: </label>
            <div>
                <input asp-for="Cuisine" class="form-control  input__item" />
                <span asp-validation-for="Cuisine" class="text-danger"></span>
            </div>
           
               <label asp-for="CategoryId" class="control-label name__input">Категория: </label>
            <div>
                <select asp-for="CategoryId" class="form-control  input__item" @*asp-items="" *@></select>
                
            </div>

            <div class="btn__log">
                <input type="submit" name="create" value="Создать" class="inp__btn--log">
            </div>
        </form>
    
        <a asp-action="Index" class="back__list">Back to List</a>
   
    </div>
</div>

