@*@model Cook_Share.Models.Publication*@
@model AddPublicationModel
@{
    ViewData["Title"] = "AddDish";

}
<div class="container">

    <div class="addDish__content">
        <span class="title__AddDish">
            Добавить блюдо
        </span>

        <form asp-action="AddDish" method="post" enctype="multipart/form-data">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="DishName" class="control-label name__input">Название: </label>
            <div>
                <input asp-for="DishName" class="form-control input__item" />
                <span asp-validation-for="DishName" class="text-danger"></span>
            </div>


            <label asp-for="Discription" class="control-label name__input">Описание: </label>
            <div>
                <input asp-for="Discription" class="form-control  input__item" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>


            <label asp-for="Recipe" class="control-label name__input">Рецепт: </label>
            <div>
                <textarea asp-for="Recipe" class="form-control  input__item"></textarea>
                <span asp-validation-for="Recipe" class="text-danger"></span>
            </div>


            <label asp-for="CalorificVal" class="control-label name__input">Калорийность: </label>
            <div>
                <input asp-for="CalorificVal" class="form-control  input__item" />
                <span asp-validation-for="CalorificVal" class="text-danger"></span>
            </div>


            <label asp-for="Cuisine" class="control-label name__input">Кухня: </label>
            <div>
                <input asp-for="Cuisine" class="form-control  input__item" />
                <span asp-validation-for="Cuisine" class="text-danger"></span>
            </div>

            <label asp-for="Category" class="control-label name__input">Категория: </label>
            <div>
                <select asp-for="Category" class="form-control input__item" asp-items="@new SelectList(Model.Categories)"></select>
            </div>

            <div class="form-group">

                <input type="button" id="AddPhoto" value="AddPhoto" class="btn btn-default add__photo" />
            </div>
            <div id="TextBoxContainer" class="form-group mt-5">

            </div>

            <div class="btn__log">
                <input type="submit" name="create" value="Создать" class="inp__btn--log">
            </div>

        </form>

        <a href="/Account/Account" class="back__list">Back to List</a>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var i = 1;
            $("#AddPhoto").click(function () {
                var div = $("<div />").attr("class", "pt-5 pb-5"); /*<input type="file" id="files" asp-for="Photo" />*/
                var value = "";
                var photoinp = $("<input />").attr("type", "file").attr("value", "AddPhoto").attr("name", "Photos").attr("id", "Photos").attr("class","btn__addPhoto");
                div.append(photoinp)
                var photolab = $("<label />").attr("for", "Photos");
                div.append(photolab)
                var button = $("<input />").attr("type", "button").attr("value", "Remove").attr("class", "btn btn-default pt-5 pb-5 btn__remPhoto");
                button.attr("onclick", "Remove(this)");
                div.append(button);
                $("#TextBoxContainer").append(div);
            });
        });
        function Remove(button) {
            $(button).parent().remove();
        }
    </script>
}

