@model Cook_Share.Models.User
@{
    ViewData["Title"] = "ChangeInfo";
}
<link rel="stylesheet" href="../css/style.css" />
<h2>ChangeInfo</h2>
<form method="post" asp-action="ChangeInfo" asp-controller="Account" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Email" type="hidden" />
    <div>
        <label>Name</label>
        <div>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div>
        <label>Surname</label>
        <div>
            <input asp-for="Surname" />
            <span asp-validation-for="Surname"></span>
        </div>
    </div>
    <div>
        <label>Photo</label>
        <div>
            <input type="file" id="files" asp-for="Photo" />
            <span asp-validation-for="Photo"></span>
        </div>
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>

