@model Cook_Share.Models.User
@*@model AccountModel*@
@{
    ViewData["Title"] = "ChangeInfo";
}



<div class="container">
    <div class="container__changeInfo">
        <div class="title__change">
            <a href="#" class="title__back"></a>
            <span class="title__change-label">
                Изменить
            </span>
        </div>
        <form method="post" asp-action="ChangeInfo" asp-controller="Account" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Email" type="hidden" />

            <div class="change-info__list">
                <div class="wrap__label"><span class="label__log">Имя</span><input type="text" asp-for="Name" class="change__input"><span asp-validation-for="Name"></span></div>
                <div class="wrap__label"><span class="label__log">Фамилия</span><input type="text" class="change__input" asp-for="Surname"> <span asp-validation-for="Surname"></span></div>
                <div class="wrap__label"><span class="label__log">Фото</span> <input type="file" id="files" asp-for="Photo" /> <span asp-validation-for="Photo"></span></div>

            </div>


            @*<div>
                    <label>Photo</label>
                    <div class="wrap__label">
                        <input type="file" id="files" asp-for="Photo" />
                        <span asp-validation-for="Photo"></span>
                    </div>
                </div>*@
            <div class="change-btn__info">
                <input type="submit" value="Сохранить" class="change-btn__save" />
            </div>
        </form>

    </div>
</div>

<footer class="wrap__bottom">
    <div class="bottom">
        <div class="row"></div>
        <div class="footer__top">
            <div class="footer__top-item">
                <span class="title__footer__top"><a href="#" class="footer__link">Главная</a></span>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__link">Link</a></li>
                    <li class="footer__list-item">Text</li>
                    <li class="footer__list-item">Text</li>
                </ul>
            </div>

            <div class="footer__top-item">
                <span class="title__footer__top"><a href="#" class="footer__link">Аккаунт</a></span>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__link">Link</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Link</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Link</a></li>
                </ul>
            </div>

            <div class="footer__top-item">
                <span class="title__footer__top">Навигация</span>
                <ul class="footer__list">
                    <li class="footer__list-item">Адрес: Ukraine Kharkiv </li>
                    <br>
                    <li class="footer__list-item">Номер:<a href="#" class="link__list-item">+380958695956</a></li>
                    <br>
                    <li class="footer__list-item">E-mail.:<a href="#" class="link__list-item">info@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row"></div>
        <div class="footer__bottom">
            <div class="footer__container">
                <div class="footer__create">MyWork s.r.o 2019.</div>
            </div>
        </div>
    </div>
</footer>