@model Cook_Share.ViewModels.RegisterModel



    <link rel="stylesheet" href="../css/style.css" />

    <div class="container">

        <div class="authorized">
            <div class="wrap__aut log">
                <img src="../img/bg-registration.jpg" alt="" class="wrap__bg__aut">
                <span class="wrap__sign__in">Регистрация</span>
            </div>

            <div class="wrap__content">
                <form class="aut__form log" asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <span asp-validation-for="General" class="exit__errore"></span>
                        <div class="wrap__label">
                            <span class="label__log usen" asp-for="Name">Имя</span>
                            <input asp-for="Name" type="text" placeholder="Введите имя" class="log__input usen" autocomplete=" off">
                            <span asp-validation-for="Name" class="exit__errore"></span>
                        </div>

                        <div class="wrap__label">
                            <span class="label__log usen" asp-for="SurName">Фамилия</span>
                            <input asp-for="SurName" type="text" placeholder="Введите фамилию" class="log__input usen" autocomplete=" off">
                            <span asp-validation-for="SurName" class="exit__errore"></span>
                        </div>

                        <div class="wrap__label">
                            <span class="label__log usen" asp-for="Email">E-mail</span>
                            <input asp-for="Email" type="text" placeholder="Введите электронный адрес" class="log__input usen" autocomplete=" off">
                            <span asp-validation-for="Email" class="exit__errore"></span>
                        </div>

                        <div class="wrap__label">
                            <span asp-for="Password" class="label__log passn">Пароль</span>
                            <input asp-for="Password" type="password" placeholder="Введите пароль" class="log__input passn">
                            <span asp-validation-for="Password" class="exit__errore"></span>
                        </div>

                        <div class="wrap__label">
                            <span asp-for="ConfirmPassword" class="label__log passn">Пароль</span>
                            <input asp-for="ConfirmPassword" type="password" placeholder="Повторите ввод пароля" class="log__input passn">
                            <span asp-validation-for="ConfirmPassword" class="exit__errore"></span>
                        </div>

                        <a href="/Account/Login" class="link__reg">Уже зарегистрированы?</a>
                        <div class="btn__log">
                            <input type="submit" name="login" value="Регистрация" class="inp__btn--log">
                        </div>
                    </div>
                </form>             
            </div>
        </div>

    </div>
