
@font-face {
    font-family: "ProximaNova-Black";
    src: local("ProximaNova-Black"), url("https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff") format("woff"), url("https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2") format("woff2");
}

body {
    top:0;
    margin: 0;
    padding-top: 70px;
}

.top{
    z-index: 1000;
}

.dispnone{
    display:none !important;
}

/*-----------------------  header ------------------*/



.top {
    top:0;
    width: 100%;
    position: fixed;
    background: #222222;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom:70px;
}

.top__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
}

.logo__top {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #C1CACA;
}

.label-btn__top {
    font-size: 22px;
    padding-right: 10px;
    color: #C1CACA;
}

.btn__bg {
    background: #222222;
    vertical-align: center;
    padding: 22px;
}

    .btn__bg:hover {
        background: #303030;
    }

.top__right {
    display: flex;
}

.top__button {
    outline: none !important;
    text-decoration: none !important;
    color: black;
}

    .top__button:hover>span{
        color:#fff;
    }



    .container {
        color: #000000;
        width: 90%;
        min-width: 680px;
        margin: auto;
        max-width: 1080px;
    }

.grid {
    display: grid;
    background: #f2f2f2;
    grid-template-columns: 5fr 3fr;
    grid-template-areas: "profile__navigation profile__navigation" "content content ";
}

.title__profile {
    display: flex;
    align-items: center;
    background: linear-gradient(0.25turn, #bed0e4, #ffd0e4);
    min-height: 250px;
}

.profile__photo {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-right: 40px;
    border-radius: 50%;
}

.title__name {
    font-size: 47px;
    font-family: sans-serif;
    font-weight: lighter;
}

.profile__navigation {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    width: 100%;
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

.nav__left {
    font-size: 20px;
}

.nav__right {
    margin-right: 10px;
}

.nav__button, .inp__btn--log {
    height: 40px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to left, rgb(141, 205, 226), rgb(255, 205, 226));
    font-size: 15px;
    padding: 0 20px;
    margin-right: 10px;
    outline: none;
    color: #000;
}


    .nav__button:hover, .inp__btn--log:hover {
        box-shadow: 0 0 10px rgb(56, 151, 240);
    }

.row {
    border-top: 1px solid #dcdcdc;
}

.nav__link:hover {
    font-weight: bolder;
    border-bottom: 1px solid #000;
    padding-bottom: 24px;
}

.nav__link.active {
    color: #3897f0;
    border-bottom: 1px solid #3897f0;
    padding-bottom: 24px;
}

.content {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.errore__not-found {
    margin: 40px;
}

.text__dish-title {
    font-size: 20px;
}

.button__dish {
    margin: 30px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to left, #fe8c00, #f83600);
    font-size: 15px;
    padding: 0 20px;
    outline: none;
    color: #fff;
}

.right__content {
    display: flex;
    text-align: left;
    padding-top: 15px;
    justify-content: space-between;
    width: 200px;
    color: #999;
    font-size: 15px;
    border-left: 1px solid #dcdcdc;
}

.num__content {
    font-weight: bolder;
    text-align: center;
    color: #000;
    font-size: 25px;
}

.li__profile {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.content__mydishes,
.content__myfavorite {
    margin: 20px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.content__mydish,
.add-content__mydish {
    position: relative;
    margin: 10px;
    min-width: 250px;
    width: 30%;
    height: 250px;
    color: #fff;
    background: rgb(209, 209, 209);
    z-index: 0;
}

.add-content__mydish {
   
    display: flex;
    background: linear-gradient(0.25turn, #dce8f5, #fcefef);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .add-content__mydish:hover:before {
        position: absolute;
        display: flex;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(80, 80, 80, 0.16);
        z-index: -1;
    }

.photo__add {
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
}

.button__add-dish {
    border: none;
    min-width: 150px;
    min-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #3897f0;
    border-radius: 5px;
    outline: none;
}

    .button__add-dish:hover {
        box-shadow: 0 0 10px rgb(56, 151, 240);
    }

.left__content {
    position:relative;
    width: 100%;
    height: 100%;
    min-width: 580px;
}



.wrap__photo {
    position: absolute;
    background: rgba(80, 80, 80, 0.56);
    width: 100%;
    height: 100%;
    visibility:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
}

.content__mydish:hover>.wrap__photo{
    visibility:visible;
}
.content__mydish > .title__mydish > .photo__dish
 {
    width: 50%;
    height: 50%;
    border-radius: 30px;
    border: 1px solid black;
}

.content__mydish > .photo__dish{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/*.content__mydish:hover :before {
    position: absolute;
    display: flex;
    content: "Просмотреть";
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.56);
    z-index: 5;
}*/

.title-name__photo{
    vertical-align:central;
}
/*
.friend__list {
  padding: 20px 5px 0 5px;

  display: block;
}

.friend-profile__mini {
  padding: 10px;
  margin-bottom: 20px;
  min-width: 80%;
  min-height: 120px;
  background: linear-gradient(0.25turn, #fd8624, #ffede3);
  border-radius: 20px;
  text-align: center;
}

.mini-photo_friend {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.title__friend-profile__mini {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__friend-profile__mini > .friend__name {
  padding: 10px;
  font-size: 15px;
  color: #000;
  font-weight: bolder;
}

.button-friend__mini {
  height: 40px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to left, #fe8c00, #f83600);
  font-size: 15px;
  padding: 0 20px;
  margin-top: 10px;
  margin-right: 10px;
  outline: none;
  color: #fff;
}

*/
/* REGISRATION AND AUT */

.owl-stage {
    display: flex !important;
}

.owl-carousel {
    overflow: hidden !important;
}



.authorized {
    display: block;
    text-align: center;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    margin-top: 9%;
    box-shadow: 0 0 10px #000;
}

.wrap__aut {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 220px;
}

.wrap__bg__aut {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: sepia(50%);
    border-radius: 20px 20px 0 0;
}

.wrap__sign__in {
    font-weight: bolder;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 30px black, 2px 2px 30px black, 2px 2px 30px black, 2px 2px 30px black;
}

.wrap__content {
    border-radius: 0 0 20px 20px;
    padding-top: 30px;
    background: #F5FEFF;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 30px;
}

.wrap__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10%;
}


.label__log {
    background: linear-gradient(to left, rgb(144, 163, 251),rgb(255, 160, 226));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: bolder;
}

.save__aut--label, .forgot__pass {
    outline: none;
    color: #7172C6;
}

.log__input {
    min-width:200px;
    width:40%;
    position: relative;
    margin-left: 20px;
    border: none;
    outline: none;
    color: #7172C6;
    font-size: 18px;
    border-bottom: 1px solid #000;
    background: #F5FEFF;
}

    .log__input:hover, .log__input:focus, .log__input:focus {
        border-bottom: 1px solid #7172C6;
    }

.btn__log {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.help__aut {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.forgot__pass, .link__reg {
    display: block;
    padding: 2px;
    margin-top: 3px;
    font-size: 16px;
    transition: 0.2s;
    color: #4B4DFB;
    text-decoration: none;
}

    .forgot__pass:hover, .link__reg:hover {
        font-size: 17px;
        padding: 1px;
    }

.save__aut--label {
    font-size: 20px;
}


span.field-validation-error {
    color: #b94a48;
    font-weight: bold;
    font-size: 20px;
}

.exit__errore {
    font-style: italic;
    font-size: 13px !important;
    margin-left: 20px;
}

    .exit__errore:before {
        content: "\00B7";
        margin-right: 7px;
        display:none;
    }


.profile__add {
    position: absolute;
    margin-top: 70px;
    margin-left: 55px;
    height: 25px;
    width: 150px;
   
    background: #f2f2f2;
    
    border-radius: 2px;
    color: #000;
    
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.profile__add:hover {
    box-shadow: 0 0 10px rgb(0,0,0);
}



/*----------------change info ------------------*/

.container__changeInfo {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title__change-label {
    font-size: 40px;
}

.info__item, .change-btn__info {
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    margin: 20px;
}


.change__input {
    position: relative;
    margin-left: 20px;
    border: none;
    outline: none;
    color: #7172C6;
    font-size: 18px;
    border-bottom: 1px solid #000;
    background: #fff;
}


.change__input__dish {
    position: relative;
    margin-left: 20px;
    border: none;
    outline: none;
    font-size: 18px;
  
    background: #f5feff;
    width:auto;
   
}

.change__input__dish__cal {
    position: relative;
    margin-left: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    background: #f5feff;
    width: 100px;
}

    .change__input:focus, .change__input:hover {
        border-bottom: 1px solid #7172C6;
    }



/*---------------- dish ---------------*/

.dish-item {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #dcdcdc;
    display: flex;
    height: 500px;
    background: #F5FEFF;
    min-width: 780px;
}

.dish-item-all {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    width: 100%;
    border: 1px solid #dcdcdc;
    display: flex;
   margin-top:50px;
    background: #F5FEFF;
    min-width: 780px;
    
}




.owl-carousel, .owl-stage-outer, .owl-stage, .owl-item,
.photo__slider, .dish-photo {
    height: 100%;
    width: 100%;
}

.dish-photo {
    object-fit: cover;
}


.dish-left {
    position:relative;
    width: 60%;
    height: 100%;
}

.dish-item-all > .dish-left {
    width: 100%;
    min-height: 550px;
    height: 550px;
}

.name__dish-all{
    font-size:48px;
    padding-left:10px;
}

.name__creator__all{
    font-size:32px !important;
    line-height:34px;
}

.cuisine__dish__all {
    font-size: 32px !important;
}

.dish__span__all{
    font-size:28px !important;
    line-height:30px !important;
}

.title__all{
    font-size:42px;
    text-align:center;
    margin-top:20px;
}

.slider__nav--left,
.slider__nav--right {
    display: none;
}

.dish-right {
    position: relative;
    width: 40%;
}

.dish-item-all > .dish-right {
    width: 100%;
  
}


.name__dish {
    font-size: 32px;
    padding: 10px 0 0 10px;
    font-family: "ProximaNova-Black", sans-serif;
    font-style: italic;
    font-weight: bolder;
}

.title__dish__creator {
    padding-bottom: 10px;
}

.comments__list {
    width: 100%;
    list-style: none;
    padding: 0;
}

.name__commentator {
    font-size: 24px;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
}

.text__commentator, .date__commentator, .text__creator {
    font-size: 18px;
    font-style: normal;
    padding: 3px 0 3px 10px;
}

.comment__item {
    padding: 0;
}

    .comment__item:hover {
        background: #C8D8DA;
    }


.send__comment {
    display: flex;
    justify-content: center;
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.send__txt {
    height: 30px;
    outline: none;
    font-size: 18px;
    max-width: 65%;
    background: #F5FEFF;
    border: none;
    color: #3897f0;
    padding-left: 5px;
}

.send__btn {
    outline: none;
    background: #F5FEFF;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #3897f0;
}

    .send__btn:hover, .send__txt:hover, .send__txt:focus {
        color: #4B4DFB;
    }

.name__creator, .cuisine__dish {
    padding-left: 15px;
    font-size: 18px;
    color: #414A4C;
    transition:1s;
    
}

.name__creator__all:hover{
    
    font-size:34px !important;
    color:rgb(56, 151, 240);
}

.dish__span {
    width: auto;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.description__dish {
    display:flex;
    font-size: 16px;
    padding-left: 10px;
}

.category__dish {
    padding-left: 10px;
}

.subtitle__dish {
    display: flex;
    justify-content:space-around;
    padding: 3px 15px 5px 15px;
}

.cuisine__dish {
    font-size: 14px;
    font-weight: bold;
}

.li__dish {
    position: relative;
    padding: 3px;
}

    .li__dish:before {
        top: 2px;
        left: -21px;
        position: absolute;
        display: block;
        content: " ";
        border: 1px solid #000000;
        border-radius: 50%;
        width: 18px;
        height: 18px;
    }

.recipe__dish {
    display:flex;
    padding-left: 10px;
}

.date__creator {
    padding-left: 15px;
}

.link__dish__add {
   

    width:270px;
    height:270px;
}



.content__mydish {
    top: 0;
}



/*------------------------ Add Dish --------------------------*/

.addDish__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F5FEFF;
    margin: 100px 0;
    border: 1px solid #dcdcdc;
}

.AddDish__post {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title__AddDish {
    font-size: 32px;
    font-family: "ProximaNova-Black", sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

.name__input {
    font-family: "ProximaNova-Black", sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    padding: 20px 0 10px 25px;
}

.input__item {
    width: 90%;
    position: relative;
    margin-left: 20px;
    border: none;
    outline: none;
    color: #000;
    font-size: 24px;
    border-bottom: 1px solid #dcdcdc;
    background: #F5FEFF;
    line-height: 30px;
}

.txtArea__input {
    max-width: 90%;
    min-width: 90%;
    height: 150px;
    resize: none;
    border: 1px solid #dcdcdc;
}

.sbtn__input {
    margin-top: 30px;
    width: auto;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to left, rgb(141, 205, 226), rgb(255, 205, 226));
    font-size: 15px;
    padding: 0 20px;
    margin-right: 10px;
    outline: none;
    color: #fff;
}

    .sbtn__input:hover {
        color: rgb(56, 151, 240);
    }

.AddDish__post > .btn__log > .inp__btn--log {
    width: 40% !important;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.back__list {
    left: 0;
    margin: 0 0 30px 30px;
    text-decoration: none;
    font-size: 18px;
}

.link__dish{
    text-decoration:none;
}

.add__photo{
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to left, rgb(141, 205, 226), rgb(255, 205, 226));
    font-size: 15px;
    padding: 0 20px;
    margin-right: 10px;
    outline: none;
    color: #000;
    width: 95%;
    margin-left: 20px;
}

.add__photo:hover {
    box-shadow: 0 0 10px rgb(56, 151, 240);
}

.btn__remPhoto {
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to left, rgb(141, 205, 226), rgb(255, 205, 226));
    font-size: 15px;
    padding: 0 20px;
    margin-right: 10px;
    outline: none;
    color: #000;
    margin-left: 20px;
}

    .btn__remPhoto:hover {
        box-shadow: 0 0 10px rgb(56, 151, 240);
    }

.btn__addPhoto {
    padding-left:15px;
    position:relative;
    margin-left:15px;
    font-size:15px;
    
}

    .btn__addPhoto + label {
      
        
      
        margin-top: 20px;
       
        border: none;
        border-radius: 20px;
        background: linear-gradient(to left, rgb(141, 205, 226), rgb(255, 205, 226));
        padding: 11px 42px;
        color: #000;
        margin-left: 20px;
        font-size: 15px;
        font-family:sans-serif;
        left:-31%;
    }

        .btn__addPhoto + label:after {
            content: "Choose";
          
        }

        .btn__addPhoto + label:hover {
            box-shadow: 0 0 10px rgb(56, 151, 240);
        }

.txtArea__recipe{
    border:none;
    font-size: 13px;
    line-height:14px;
    min-height:150px;
    max-height:150px;
    max-width:70%;
    min-width:70%;
}

.nav__button{
    margin-left:20px;
}

.delete__photo {
    border: none;
    position: absolute;
    top: 0;
    width: 35%;
    height: 10%;
    background: rgba(62, 62, 62, 0.4);
    color: rgba(176, 176, 176);
    border-bottom-right-radius: 20px;
    font-size: 24px;
    font-family: "ProximaNova-Black", sans-serif;
    transition: 0.3s;
}

    .delete__photo:hover {
        background: rgba(62, 62, 62, 0.6);
        color: rgba(239, 239, 239);
    }

.cal__dish{
    display:flex;
    margin-left:15px;
}

.valid{
    display:flex;
    flex-direction:column;
}

.modal-content{
    width: 450px;
    
}

.container-all{
    width:40% !important;
}